    <form role="form">
        <div class="col-sm-6">
            <p class="bg-danger"> {{ "message" + message }} </p>
            <input type="username" class="form-control" placeholder="Username">
            <input type="password" class="form-control" placeholder="Password">
            <button type="submit" class="btn btn-primary" ng-click="login">Sign in</button>
            <button type="submit" class="btn btn-success" ng-click="register">Register</button>
        </div>
    </form>

</div>