    <form role="form" name="authForm" novalidate>
        <div class="col-sm-6">
            <p class="bg-danger"> {{ message }} </p>
            <input type="username" class="form-control" ng-model="user.username" placeholder="Username">
            <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
            
            <button type="submit" class="btn btn-primary" ng-click="login(user)">Sign in</button>
            <button type="submit" class="btn btn-success" ng-click="register(user)">Register</button>
        </div>
    </form>

</div>