        <div ng-repeat="playlist in playlists">
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-3"><a href="#/play/{{playlist.id}}"> {{playlist.title}}</a> - {{playlist.user}}</div>
                <!--
                <div class="col-sm-1"><button class="fa fa-play fa-border" ng-click="playSong()"></button></div>
                <div class="col-sm-10"><p>{{ song.name }}</p></div>
                <div class="col-sm-1"><button class="fa fa-chevron-circle-down fa-border"></button></div> -->
            </div>
        </div>
    </div>
</div>