<div class="container">

    <div class="row">
        <nav>
            <div class="col-sm-5"><a href="/">Logo</a> - Playlist List</div>
            <div class="col-sm-2"><input type="text" class="form-inline" placeholder="Filter" ng-model="songFilter"></div>
            <div class="col-sm-5" style="text-align: right">Welcolme, Username({{Username}})</div>
        </nav>
    </div>

    
    <div class="container" id="main-body">
        <div ng-repeat="playlist in playlists">
            <div class="row">
                <div class="col-sm-6 col-sm-6-offset-3"><a href="#/play/{{playlist.id}}"> {{playlist.title}}</a> - {{playlist.user}}</div>
                <!--
                <div class="col-sm-1"><button class="fa fa-play fa-border" ng-click="playSong()"></button></div>
                <div class="col-sm-10"><p>{{ song.name }}</p></div>
                <div class="col-sm-1"><button class="fa fa-chevron-circle-down fa-border"></button></div> -->
            </div>
        </div>
    </div>
</div>