        <div ng-repeat="song in songs">
            <div class="row">
                <div class="col-sm-12"> {{ song.name }} - <a href="{{ song.url }}">{{ song.url }}</a> - {{ song.added_by }}</div>
            </div>                
            <div class="row">
            	<div class= "col-sm-12" ng-repeat="playlist in song.playlist">
	                <ul class="list-inline">
	                	<li><a href="/#/play/{{ playlist }}">{{ playlist }}</a></li>
	                </ul>
                </div>
			</div>	                

        </div>
    </div>
</div>