<div class="container">
    <div class="row">
        <nav>
            <div class="col-sm-5"><a href="/">Logo</a> - Playlist List</div>
            <div class="col-sm-2"><input type="text" class="form-inline" placeholder="Filter" ng-model="songFilter"></div>
            <div class="col-sm-5" style="text-align: right">Welcolme, Username({{Username}})</div>
        </nav>
    </div>

    
    <div class="container" id="main-body">
        <div ng-repeat="song in songs">
            <div class="row">
                <div class="col-sm-12"> {{ song.name }} - <a href="{{ song.url }}">{{ song.url }}</a> - {{ song.added_by }}</div>
            </div>                
            <div class="row">
            	<div class= "col-sm-12" ng-repeat="playlist in song.playlist">
	                <ul class="list-inline">
	                	<li><a href="/#/play/{{ playlist }}">{{ playlist }}</a></li>
	                </ul>
                </div>
			</div>	                

        </div>
    </div>
</div>