$font-stack: Helvetica, sans-serif;
$font-weight: bold;
$bg-color: #FCC;
$body-height: 100%; // This needs to be tested a little more later.

body {
	font: 150% $font-stack;
	font-weight: $font-weight;
	background-color: $bg-color;
}

nav {
	margin-top: 15px;
	margin-bottom: 45px;
}

.footer {
	font-size: small;
	text-align: center;
}

#main-body {
	height: $body-height;
	padding-top: 10px;
	border:2px solid black;
	border-bottom: 0px;
	box-shadow: 0px 0px 5px #222222;
}

#player {
	display: none;
}